@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Reset de estilos para pseudo-elementos e listas */
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remover sublinhado padrão dos links */
a {
    text-decoration: none;
}

/* Remover marcadores de lista padrão */
li {
    list-style: none;
}

/* Estilo para cabeçalhos */
h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* Fonte padrão para o corpo */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estrutura da página */
.wrapper {
    display: flex;
}

/* Área principal (conteúdo) */
.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    position: relative; /* Garante que a view principal ocupe a tela inteira */
    z-index: 1; /* Z-index menor para a view principal ficar abaixo do sidebar */
}

/* Sidebar */
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000; /* Z-index alto para o sidebar ficar acima da view principal */
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixa o sidebar na posição desejada */
    top: 0; /* Alinha o topo do sidebar com o topo da janela */
    left: 0; /* Alinha o sidebar à esquerda da janela */
    height: 100vh; /* Ocupa toda a altura da janela */
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

/* Botão de alternância do sidebar */
.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

/* Logo do sidebar */
.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

/* Ocultar logo e links do sidebar quando recolhido */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* Navegação do sidebar */
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* Estilo dos links do sidebar */
a.sidebar-link {
    text-decoration: none; /* Remover sublinhado */
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

/* Efeito de hover nos links do sidebar */
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

/* Item do sidebar com dropdown */
.sidebar-item {
    position: relative;
}

/* Dropdown do sidebar */
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

/* Ícone de seta para itens com dropdown */
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Informações do usuário no sidebar */
.user-info {
    padding: 1rem;
    display: flex;
    flex-direction: column; /* Adiciona direção de coluna */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
}

.user-avatar {
    margin-bottom: 0.5rem; /* Adiciona um espaço entre a imagem e o nome */
}

    .user-avatar img {
        width: 88%;
        height: 92%;
        border-radius: 21%;
        object-fit: cover;
    }

.user-name {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}
